.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    text-align: center;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
    font-style: normal;
    @include font-get-up(1.71);
    color: $white-text-color;
  }
  &__list {
    @extend %list;
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  &__link {
    font-style: normal;
    @include font-get-up(1.71);
    color: $link-text-color;
    text-decoration: none;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-text-color;
  }
}
