.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @extend %list;
  display: inline-block;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  &__link {
    @include flex-center($just: flex-start);

    color: inherit;
    fill: currentColor;
    text-decoration: none;

    transition-property: color, fill;
    transition-timing-function: $cubic-function;
    transition-duration: 250ms;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-text-color;
    fill: $accent-text-color;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__icon {
      margin-right: 8px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
    &__link {
      @include flex-center();

      padding-top: 32px;
      padding-bottom: 32px;
    }
    &__icon {
      margin-right: 10px;
    }
  }
}
