.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @extend %list;
  display: inline-block;
  margin-left: auto;

  font-weight: 500;
  @include font-get-up(1.167, 12px, 0.02em);
  color: $primary-text-color;

  @media screen and (max-width: 1199px) {
    padding-top: 19px;
    padding-bottom: 19px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    @include font-get-up(1.142, $primary-font-size, 0.02em);
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__icon {
    @media screen and (max-width: 1199px) {
      margin-right: 8px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }

  &__link {
    @include flex-center($just: flex-start);

    color: inherit;
    fill: currentColor;
    text-decoration: none;

    transition-property: color, fill;
    transition-timing-function: $cubic-function;
    transition-duration: 250ms;

    @media screen and (min-width: 1200px) {
      @include flex-center();

      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__link:hover,
  &__link:focus {
    color: $accent-text-color;
    fill: $accent-text-color;
  }
  .mobile-wrap.is-open & {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    @extend %list;
    margin-top: auto;
    margin-bottom: 64px;
    &__item {
      @include font-get-up(1.167, 24px, 0.02em);
    }
    &__item:not(:first-child) {
      font-weight: 500;
      @include font-get-up(1.177, 34px, 0.02em);
      color: $accent-text-color;
      margin-bottom: 32px;
    }
    &__icon {
      display: none;
    }
  }
}
