.filter-list {
  @extend %list;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__item:not(:nth-last-child(-n + 2)) {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}
