.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__conteiner {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  &__adds-box {
    margin-right: 70px;
  }
  // &__join-box {
  // }
  &__sign-box {
    margin-left: auto;
  }
  &__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    @include font-get-up(1.41);
    color: $white-text-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}
