.mailing-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__title {
    display: block;

    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      display: inline-block;
      margin-right: 12px;
    }
  }
  &__input {
    padding: 15px 16px;
    height: 50px;
    width: 358px;
    color: $white-text-color;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &__input::placeholder {
    @include font-get-up(1.25, $secondary-font-size);
    color: #ffffff99;
  }
}
