.backdrop {
  @media screen and (max-width: 767px) {
    padding: 94px 15px;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  display: block;

  background-color: $white-text-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px;

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 609px;
    width: 450px;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px) {
    height: 581px;
    width: 528px;
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.01);
  }
}

.request-form {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;

    font-weight: 700;
    @include font-get-up(1.5, 20px);
    color: $secondary-text-color;
    @media screen and (min-width: 1200px) {
      @include font-get-up(1.15, 20px);
    }
  }
  &__field {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;

    @include font-get-up(1.167, 12px, 0.01em);
    color: $primary-text-color;
  }
  &__input {
    display: block;
    height: 40px;
    width: 100%;
    padding: 11px 12px 11px 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__field:focus-within &__input {
    border-color: $accent-text-color;
    outline: none;
  }
  &__field:focus-within &__textarea {
    border-color: $accent-text-color;
    outline: none;
  }
  &__field:focus-within &__icon {
    fill: $accent-text-color;
  }
  &__icon {
    position: absolute;
    top: 38px;
    left: 12px;
    fill: $secondary-text-color;

    transform: translate(0%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__textarea {
    display: block;
    resize: none;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__textarea::placeholder {
    @include font-get-up(1.167, 12px, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
  &__agreement {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__text {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;

    @include font-get-up(1.67, 12px);
    color: $primary-text-color;
    @media screen and(min-width:1200px) {
      @include font-get-up(1.71, 14px);
    }
  }
  &__link:focus-within {
    border: 1px solid $accent-text-color;
    border-radius: 4px;
    outline: none;
  }
  &__link {
    text-decoration: underline;
    @include font-get-up(1.67, 12px);

    color: $accent-text-color;
    text-decoration-line: underline;
    @media screen and(min-width:1200px) {
      @include font-get-up(1.71, 14px);
    }
  }
  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &__checkbox:checked ~ &__check-icon {
    fill: $white-text-color;
    background-color: $accent-text-color;
    border-color: $accent-text-color;
  }

  &__check-icon {
    display: inline-block;
    margin-right: 8px;
    fill: transparent;

    border: 2px solid $secondary-text-color;
    border-radius: 2px;

    transition: border-color 250ms $cubic-function,
      background-color 250ms $cubic-function 100ms,
      fill 250ms $cubic-function 400ms;
  }
  &__check-icon:hover,
  &__check-icon:focus {
    cursor: pointer;
  }
  &__submit {
    display: flex;
    justify-content: center;
  }
}
