.social {
  @extend %list;

  @include flex-center();

  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__link {
    @include flex-center();
    display: inline-flex;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: $icon-color;

    transition-property: fill, background-color, box-shadow;
    transition-timing-function: $cubic-function;
    transition-duration: 250ms;
    &--gray {
      background-color: rgba(255, 255, 255, 0.1);
      fill: $white-text-color;

      transition-property: background-color;
    }
    &:hover,
    &:focus {
      fill: $white-text-color;
      background-color: $accent-text-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
