.works {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  &__list {
    @extend %list;

    display: flex;
  }
  &__item {
    position: relative;
    flex-basis: calc((100% - 30px * 2) / 3);
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__img {
    display: block;
  }
  &__description {
    @include flex-center();

    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    margin: 0;

    font-weight: 700;
    @include font-get-up(1.143, $primary-font-size);
    text-transform: uppercase;
    color: $white-text-color;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
