.section {
  padding-top: 60px;
  padding-bottom: 60px;

  color: $primary-text-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &--secondary {
    background-color: $bg-section-color;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;

    @include font-get-up(1.179, 28px);
    color: $secondary-text-color;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      @include font-get-up(1.167, $title-font-size);
    }
  }
}
