.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: $primary-text-color;

  &--secondary {
    background-color: $bg-section-color;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    @include font-get-up(1.17, $title-font-size);
    color: $secondary-text-color;
  }
}
