$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-text-color: #2196f3;
$link-text-color: rgba(255, 255, 255, 0.6);

$black-text-color: #000000;
$white-text-color: #ffffff;

$bg-section-color: #f5f4fa;
$bg-button-color: #f5f4fa;
$bg-hero-button-color: #188ce8;
$active-bg-button-color: #2196f3;

$icon-color: #afb1b8;

$primary-font-size: 14px;
$secondary-font-size: 16px;
$title-font-size: 36px;

$cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
